# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
    paths: '**/**.js'
  pull_request:
    branches: [ main ]
    paths: '**/**.js'
env:
  PATH_PREFIX: 'algorithms/JavaScript'
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
        cd ${{ env.PATH_PREFIX }}
        npm ci
    - run: npm run build --if-present --prefix ${{ env.PATH_PREFIX }}
    - run: npm run lint --prefix ${{ env.PATH_PREFIX }}
